.vaccine-component {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.vaccine-component input[type="text"],
.vaccine-component input[type="date"],
.vaccine-component select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
    margin-bottom: 10px;
}

.vaccine-update-button,
.vaccine-delete-button {
    background-color: #8c70a7;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}



.vaccine-delete-button {
    background-color: #e74c3c;
}

.vaccine-update-button:hover {
    background-color: #764c8a; 
}

.vaccine-delete-button:hover {
    background-color: #c0392b; 
}
