.appointment-page-content {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

h1 {
  color: #4b3f6b;
}

.appointment-doctor-filter,
.appointment-animal-filter {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.appointment-doctor-filter input[type="text"],
.appointment-doctor-filter input[type="date"],
.appointment-animal-filter input[type="text"],
.appointment-animal-filter input[type="date"] {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.appointment-content {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.appointment-add {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.appointment-add input[type="datetime-local"],
.appointment-add select {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.appointment-add button {
  background-color: #8c70a7;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.appointment-add button:hover {
  background-color: #6c5080;
}

.error-message {
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #D8000C;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}